@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);

}

@layer base {
  :root {
    --primary: #F8F9FD;
    --secondary: #fff;
    --text: red; 
  }
   .dark {
    --primary: #121212;
    --secondary: #1A1A1A; 
    --text: blue;
   }

}